<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">14Tir1375</property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/bank?createDatabaseIfNotExist=true
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL8Dialect
        </property>
        <property name="show_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!---Mapping-->
        <mapping class="ir.science.essay.entities.User"/>
        <mapping class="ir.science.essay.entities.Article"/>
        <mapping class="ir.science.essay.entities.Category"/>
        <mapping class="ir.science.essay.entities.Tag"/>
        <mapping class="ir.science.essay.entities.Role"/>
        <mapping class="ir.science.essay.entities.Address"/>

    </session-factory>
</hibernate-configuration>